.game__cell {
  width: 10vw;
  height: 10vw;
  border: 0;
  mask-size: 0%;
  mask-repeat: no-repeat;
  mask-position: center;
  -webkit-mask-size: 0%;
  -webkit-mask-repeat: no-repeat;
  -webkit-mask-position: center;
}

.game__cell.mask {
  mask-size: 70%;
  -webkit-mask-size: 70%;
}

.game__cell:hover {
  animation: point 1s infinite;
  cursor: pointer;
}

.game__cell.no-hover {
  animation: show 0.5s;
  cursor: auto;
}

.game__cell.shine {
  animation: shines 1s infinite;
}
