* {
  margin: 0;
  padding: 0;
}

body {
  font-family: sans-serif;
  background-color: var(--color-bg);
}

.game__main-container {
  width: 100vw;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}

p {
  margin: 2rem;
  color: var(--color-main);
}

.cross {
  -webkit-mask-image: url('/src/assets/cross.svg');
}

.circle {
  -webkit-mask-image: url('/src/assets/zero.svg');
}

.tie {
  -webkit-mask-image: url('/src/assets/tie.svg');
}

.white-color {
  background-color: var(--color-main);
}

.red-color {
  background-color: var(--color-red);
}

.blue-color {
  background-color: var(--color-blue);
}

.yellow-color {
  background-color: var(--color-yellow);
}

@keyframes point {
  0% {
    mask-size: 20%;
    -webkit-mask-size: 20%;
  }
  50% {
    mask-size: 25%;
    -webkit-mask-size: 25%;
  }
  100% {
    mask-size: 20%;
    -webkit-mask-size: 20%;
  }
}

@keyframes show {
  0% {
    mask-size: 20%;
    -webkit-mask-size: 20%;
  }
  100% {
    mask-size: 70%;
    -webkit-mask-size: 70%;
  }
}

@keyframes shines {
  0% {
    background-color: var(--color-main);
    mask-size: 60%;
    -webkit-mask-size: 60%;
  }
  50% {
    background-color: var(--color-yellow);
    mask-size: 50%;
    -webkit-mask-size: 50%;
  }
  100% {
    background-color: var(--color-main);
    mask-size: 60%;
    -webkit-mask-size: 60%;
  }
}
