@import url('https://fonts.googleapis.com/css2?family=Pacifico&display=swap');

:root {
  --color-main: #ffe4c4;
  --color-bg: #008000;
  --color-green-dark: #418941;
  --color-red: #ff4800;
  --color-blue: #00a0e3;
  --color-yellow: #f8cc07;
}
