.game__desk {
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-wrap: wrap;
  width: 35vw;
  height: 35vw;
  scale: 0;
  transition: 0.5s ease;
}

.game__desk.show {
  scale: 1;
}
