.game__desk {
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-wrap: wrap;
  width: 35vw;
  height: 35vw;
  scale: 0;
  transition: 0.5s ease;
}

.game__desk.show {
  scale: 1;
}

@media screen and (max-width: 1440px) {
  .game__desk {
    transform: scale(140%);
  }
}

@media screen and (max-width: 1024px) {
  .game__desk {
    transform: scale(180%);
  }
}

@media screen and (max-width: 768px) {
  .game__desk {
    transform: scale(230%);
  }
}

@media screen and (max-width: 480px) {
  .game__desk {
    transform: scale(270%);
  }
}
